$textColorPrimary: #002766;
$textColorSecondary: #595959;
$textColorTernery:#1890ff;
$scrollbar-color: rgb(255, 0, 0); /* red */
$universalWhite: #ffffff;
$bgColor: #f5f5f5;
$inputWrapperColor: #eee;
$activeFieldColor: #e6f7ff;
$listBorderColor: #91d5ff;
$listColor: #40a9ff;
$sliderBorderColor:#ccc;
