$pageTheme: #F5F5F5;
$universalWhite: #FFFFFF;
$colorPrimary: #1890FF;
$colorSecondary: #262626;
$colorTertiary: #D9D9D9;
$bgPrimaryColor: #E6F7FF;
$borderPrimaryColor: #91D5FF;
$colorCommonPrimary: #8C8C8C;
$colorCommonSeconday: #595959;
$colorCommonTertiary: #40A9FF;
$universalBlack: #000000;
$boxShadowPrimary: #B5D9FA;
$textPrimary: #0050B3;
$textSecondary: #002766;
$textTertiary: #003A8C;
$assetBgColor: #F0F0F0;
$achievementHeadingColor: #06152B;
$achievementBgPrimary: #F0F5FF;
$achievementBgSecondary: #F9F0FF;
$achievementBgTertiary: #d9f7be99;
$progressValueColor: #2D3648;
$progressPercentageColor: #2EDB4B;
$progressParaColor: #717D96;
$tabColor: #FAFAFA;
$paginationColor: #8C8C8C;
$highlightColor: #F5222D;
$renewedBgColor: #FFF7E6;
$renewedDropShadowColor: #FF9E75;
$renewedTextColor: #FA541C;
$renewedBorderColor: #FFBB96;
$activityListingColor: #34AFF7;
