@import "./import";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: $pageTheme !important;
  font-family: "Roboto", "sans-serif" !important;
}
.main {
  display: flex;
  gap: 1rem;
  @media screen and (min-width: 64rem) {
    gap: 18rem;
  }
  .active {
    left: 4rem !important;
  }
  .blur {
    filter: blur(0.3125rem);
    overflow-y: hidden !important;
  }
  .side-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $universalWhite;
    flex: 0 0 4rem;
    height: 100vh;
    z-index: 2;
    img {
      width: 100%;
      height: 100%;
    }
    .logo {
      width: 3.5rem;
      height: 3.5rem;
      margin: 0.25rem 0 5.8125rem;
    }
    .avatar {
      width: 2rem;
      height: 2rem;
      margin-bottom: 5.8125rem;
    }
    .message {
      position: relative;
      width: 4rem;
      height: 2.5rem;
      margin-bottom: 3.125rem;
      .message-number {
        display: flex;
        position: absolute;
        top: 0.4375rem;
        right: 1.0625rem;
        width: 1rem;
        height: 1rem;
      }
    }
    nav {
      ul {
        margin-bottom: 3.6875rem;
        li {
          list-style: none;
          a {
            width: 4rem;
            height: 2.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
              color: $textSecondary;
              display: flex;
              width: 1rem;
              height: 1rem;
            }
          }
          &:first-child {
            background-color: $bgPrimaryColor;
            border-right: 2px solid $colorPrimary;
            a {
              svg {
                color: $colorPrimary;
              }
            }
          }
        }
      }
    }
    .setting {
      width: 4rem;
      height: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .collapsible-bar {
    width: 16rem;
    position: fixed;
    top: 1rem;
    left: -16rem;
    background-color: $universalWhite;
    border-radius: 0.5rem;
    height: calc(100vh - 1rem);
    z-index: 1;
    transition: 0.7s;
    @media screen and (min-width: 64rem) {
      left: 5rem !important;
      height: calc(100vh - 2rem);
    }
    .selection-bar {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2.1875rem;
      white-space: nowrap;
      padding: 0.625rem 0;
      background-color: $bgPrimaryColor;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      .selection {
        font-size: 0.875rem;
        font-weight: 600;
        line-height: 1.375rem;
        color: $textSecondary;
        display: flex;
        align-items: center;
        gap: 0.625rem;
        img {
          width: 1rem;
          height: 1rem;
        }
      }
      .clear {
        display: flex;
        align-items: center;
        gap: 0.125rem;
        font-size: 0.75rem;
        font-weight: 400;
        line-height: 1.25rem;
        color: $colorPrimary;
        img {
          width: 0.75rem;
          height: 0.75rem;
        }
      }
    }
    .advance-seach {
      margin: 0.875rem 0 1.125rem 1.5rem;
      span {
        font-size: 0.75rem;
        font-weight: 400;
        line-height: 1.25rem;
        color: $colorSecondary;
      }
      .search {
        width: 12rem;
        height: 2.25rem;
        border-radius: 0.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.625rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.375rem;
        color: $universalWhite;
        border: none;
        background-color: $colorPrimary;
        margin-top: 0.25rem;
        img {
          width: 1rem;
          height: 1rem;
        }
      }
    }
    .detail-listing {
      li {
        font-size: 0.75rem;
        font-weight: 400;
        line-height: 1.25rem;
        color: $colorSecondary;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.75rem 1rem;
        list-style: none;
        border-top: 2px solid $pageTheme;
        &:last-child {
          border-bottom: 2px solid $pageTheme;
        }
      }
      img {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
  .main-content {
    flex: 1;
    height: 100vh;
    overflow-y: scroll;
    padding: 1rem 1rem 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    &::-webkit-scrollbar {
      display: none;
    }
    .skill-type {
      padding: 1.5rem;
      border-radius: 1rem;
      background-color: $universalWhite;
      .result {
        display: flex;
        justify-content: space-between;
        h3 {
          font-size: 1.25rem;
          font-weight: 600;
          line-height: 1.75rem;
          color: $colorSecondary;
        }
        .breadcrumb {
          display: flex;
          align-items: center;
          margin: 0;
          padding: 0;
          background-color: transparent;
          gap: 1.375rem;
          height: 1.375rem;
          margin-bottom: 1rem;
          li {
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.375rem;
            color: $colorCommonPrimary;
            list-style: none;
            img {
              width: 1rem;
              height: 1rem;
              display: flex;
            }
            &:last-child {
              color: $colorSecondary;
            }
            &:not(:last-child) {
              position: relative;
              &::after {
                position: absolute;
                content: "";
                background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.3662 6.04688L9.2168 16.8545H8.12988L12.2861 6.04688H13.3662Z' fill='%238C8C8C'/%3E%3C/svg%3E ");
                width: 1.375rem;
                height: 1.375rem;
                top: 50%;
                transform: translateY(-50%);
                right: -1.4375rem;
              }
            }
          }
        }
      }
      .detail {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .more-detail {
          font-size: 0.875rem;
          font-weight: 400;
          line-height: 1.375rem;
          color: $colorPrimary;
          display: flex;
          align-items: center;
          gap: 0.125rem;
          img {
            width: 0.75rem;
            height: 0.75rem;
          }
        }
        .button-wrapper {
          display: flex;
          gap: 0.5rem;
          .btn {
            padding: 0 1rem;
            height: 2rem;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.375rem;
            color: $colorSecondary;
            background-color: transparent;
            border-radius: 0.25rem;
            border: 1px solid $colorTertiary;
            outline: none;
            cursor: pointer;
            &:first-child {
              padding: 0.4375rem;
            }
            &:last-child {
              color: $universalWhite;
              background-color: $colorPrimary;
              border: none;
            }
            img {
              width: 1rem;
              height: 1rem;
            }
          }
        }
      }
    }
    .achievement-listing {
      padding: 1.5rem;
      background-color: white;
      border-radius: 0.5rem;
      display: flex;
      gap: 2.0625rem;
      align-items: center;
      @media screen and (min-width: 160rem) {
        order: 1;
      }
      .achievement {
        width: -webkit-fill-available;
        height: 5.25rem;
        padding: 1rem 0 1rem 1.5rem;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        @media screen and (min-width: 160rem) {
          justify-content: center;
        }
        .image {
          display: none;
          @media screen and (min-width: 75rem) {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 3.625rem;
            height: 3.625rem;
            background-color: $universalWhite;
            border-radius: 50%;
            img {
              width: 1.875rem;
              height: 1.875rem;
            }
          }
        }
        .achievement-data {
          span {
            font-size: 0.75rem;
            font-weight: 600;
            line-height: 1.25rem;
            color: $colorSecondary;
          }
          h2 {
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 2rem;
            color: $achievementHeadingColor;
            margin: 0;
          }
        }
        &:first-child {
          background-color: $achievementBgPrimary;
        }
        &:nth-child(2) {
          background-color: $achievementBgSecondary;
        }
        &:last-child {
          background-color: $achievementBgTertiary;
        }
      }
    }
    .detail-search {
      background-color: $universalWhite;
      padding: 1.5rem;
      border-radius: 1rem;
      .btn-wrapper {
        display: flex;
        gap: 0.5625rem;
        margin-bottom: 1.5rem;
        @media screen and (min-width: 64rem) {
          display: none;
        }
        .btn {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          font-size: 0.875rem;
          font-weight: 400;
          line-height: 1.375rem;
          padding: 0.5rem 1rem;
          border-radius: 0.25rem;
          border: none;
          outline: none;
          cursor: pointer;
          background-color: $colorPrimary;
          color: $universalWhite;
          img {
            width: 1rem;
            height: 1rem;
          }
        }
      }
      .tabs {
        margin-bottom: 1.5rem;
        .tab-button-outer {
          display: flex;
          justify-content: space-between;
          #tab-button {
            display: flex;
            gap: 2rem;
            margin-bottom: 2.5rem;
            li {
              list-style: none;
              a {
                padding: 0.75rem 0;
                font-size: 0.875rem;
                font-weight: 400;
                line-height: 1.375rem;
                color: $colorSecondary;
                text-decoration: none;
              }
            }
          }
          #tab-button li a:hover,
          #tab-button .is-active a {
            color: $colorPrimary;
            border-bottom: 2px solid $colorPrimary;
          }
          .pagination {
            display: flex;
            gap: 0.0625rem;
            align-items: center;
            margin: 0;
            height: 1.5rem;
            li {
              display: flex;
              font-size: 0.875rem;
              font-weight: 400;
              line-height: 1.375rem;
              color: $paginationColor;
              margin: 0;
              span {
                color: $colorPrimary;
                padding: 0 0.5rem;
              }
              .button {
                border: none;
                background-color: transparent;
                width: 1.5rem;
                height: 1.5rem;
              }
              &:first-child {
                margin-right: 0.5rem;
              }
            }
          }
        }
        .tab-contents {
          min-height: 5.5rem;
          .filter-detail-search {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;
            .filter-data {
              display: flex;
              gap: 1rem;
              .filter {
                display: flex;
                align-items: center;
                gap: 0.1875rem;
                padding: 0.3125rem 1rem;
                font-size: 0.875rem;
                font-weight: 400;
                line-height: 1.375rem;
                color: $colorSecondary;
                border-radius: 0.25rem;
                border: 1px solid $colorTertiary;
                height: 2rem;
                img {
                  &:first-child {
                    width: 1rem;
                    height: 1rem;
                  }
                  &:last-child {
                    width: 0.875rem;
                    height: 0.875rem;
                  }
                }
              }
            }
            .input-wrapper {
              position: relative;
              display: flex;
              align-items: center;
              gap: 0.5rem;
              &::after {
                position: absolute;
                content: "";
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.2125 13.3516L10.1547 9.29375C10.7844 8.47969 11.125 7.48438 11.125 6.4375C11.125 5.18438 10.6359 4.00937 9.75156 3.12344C8.86719 2.2375 7.68906 1.75 6.4375 1.75C5.18594 1.75 4.00781 2.23906 3.12344 3.12344C2.2375 4.00781 1.75 5.18438 1.75 6.4375C1.75 7.68906 2.23906 8.86719 3.12344 9.75156C4.00781 10.6375 5.18438 11.125 6.4375 11.125C7.48438 11.125 8.47813 10.7844 9.29219 10.1562L13.35 14.2125C13.3619 14.2244 13.376 14.2338 13.3916 14.2403C13.4071 14.2467 13.4238 14.2501 13.4406 14.2501C13.4575 14.2501 13.4741 14.2467 13.4897 14.2403C13.5052 14.2338 13.5194 14.2244 13.5312 14.2125L14.2125 13.5328C14.2244 13.5209 14.2338 13.5068 14.2403 13.4912C14.2467 13.4757 14.2501 13.459 14.2501 13.4422C14.2501 13.4254 14.2467 13.4087 14.2403 13.3931C14.2338 13.3776 14.2244 13.3635 14.2125 13.3516ZM8.9125 8.9125C8.25 9.57344 7.37187 9.9375 6.4375 9.9375C5.50312 9.9375 4.625 9.57344 3.9625 8.9125C3.30156 8.25 2.9375 7.37187 2.9375 6.4375C2.9375 5.50312 3.30156 4.62344 3.9625 3.9625C4.625 3.30156 5.50312 2.9375 6.4375 2.9375C7.37187 2.9375 8.25156 3.3 8.9125 3.9625C9.57344 4.625 9.9375 5.50312 9.9375 6.4375C9.9375 7.37187 9.57344 8.25156 8.9125 8.9125Z' fill='%23BFBFBF'/%3E%3C/svg%3E%0A");
                width: 1rem;
                height: 1rem;
                top: 50%;
                transform: translateY(-50%);
                right: 0.75rem;
              }
              label {
                display: none;
                @media screen and (min-width: 75rem) {
                  display: block;
                  font-size: 0.875rem;
                  font-weight: 600;
                  line-height: 1.375rem;
                  color: $universalBlack;
                  margin: 0;
                }
              }
              input {
                padding: 0.3125rem 1.875rem 0.3125rem 0.75rem;
                border-radius: 0.25rem;
                border: 1px solid $colorTertiary;
                width: 13.125rem;
                height: 2rem;
                font-size: 0.875rem;
                font-weight: 400;
                color: $colorSecondary;
                outline: none;
                &::placeholder {
                  color: $colorSecondary;
                }
              }
            }
          }
          .features {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.5rem 0.625rem;
            background-color: $bgPrimaryColor;
            border-radius: 0.25rem;
            ul {
              display: flex;
              gap: 1.3125rem;
              margin: 0;
              li {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                font-size: 0.75rem;
                font-weight: 400;
                line-height: 1.25rem;
                color: $colorSecondary;
                &:last-child {
                  color: $highlightColor;
                }
                input[type="checkbox"] {
                  width: 1rem;
                  height: 1rem;
                  background-color: $universalWhite;
                  border: 1px solid #D9D9D9;
                }
                label {
                  color: $textPrimary;
                  margin: 0;
                }
                &:nth-child(2),
                &:last-child {
                  display: none;
                  @media screen and (min-width: 75rem) {
                    display: flex;
                  }
                }
                &:nth-child(6) {
                  @media screen and (min-width: 75rem) {
                    display: none;
                  }
                }
              }
            }
            img {
              width: 1.5rem;
              height: 1.5rem;
            }
          }
        }
      }
    }
    .candidate-listing {
      background-color: $universalWhite;
      border-radius: 1rem;
      position: relative;
      @media screen and (min-width: 160rem) {
        order: 2;
      }
      .process {
        display: none;
        @media screen and (min-width: 75rem) {
          display: block;
          position: absolute;
          top: 1.5rem;
          p {
            width: 3.9375rem;
            height: 1.25rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.6875rem;
            margin: 0;
            &:first-child {
              color: $colorPrimary;
              background-color: $bgPrimaryColor;
              margin-bottom: 0.3125rem;
            }
            &:last-child {
              color: $renewedTextColor;
              background-color: $renewedBgColor;
            }
          }
        }
        @media screen and (min-width: 87.5rem) {
          display: none;
        }
      }
      .candidate {
        padding: 1.5rem 0;
        display: flex;
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5) {
          display: none;
        }
        @media screen and (min-width: 64rem) {
          &:nth-child(3) {
            display: flex;
          }
        }
        @media screen and (min-width: 87.5rem) {
          &:nth-child(4) {
            display: flex;
          }
        }
        @media screen and (min-width: 160rem) {
          &:nth-child(5) {
            display: flex;
          }
        }
        &:not(:last-child) {
          border-bottom: 2px solid $pageTheme;
        }
        .candidate-personal-detail {
          display: flex;
          flex-direction: column;
          align-items: center;
          flex: 0 0 14.875rem;
          @media screen and (min-width: 160rem) {
            flex: 0 0 23.625rem;
          }
          .profile {
            display: flex;
            align-items: center;
            margin-bottom: 0.8125rem;
            input {
              width: 1rem;
              height: 1rem;
              @media screen and (min-width: 75rem) {
                position: relative;
                bottom: -156%;
              }
              @media screen and (min-width: 160rem) {
                position: static;
              }
            }
            .progress-detail {
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: 0.25rem;
              img {
                width: 5.5rem;
                height: 5.5rem;
                border-radius: 50%;
              }
              .progress {
                display: flex;
                align-items: center;
                background-color: transparent;
                span {
                  font-size: 0.75rem;
                  font-weight: 400;
                  line-height: 1.5rem;
                  color: $progressValueColor;
                }
                .progress-bar {
                  width: 7.125rem;
                  height: 0.3125rem;
                  border-radius: 0.3125rem;
                  background-color: $colorTertiary;
                  margin: 0.625rem;
                  @media screen and (min-width: 160rem) {
                    width: 12.0625rem;
                  }
                  .progress-value {
                    width: 51%;
                    height: 100%;
                    background-color: $progressPercentageColor;
                    border-radius: 5px;
                  }
                }
              }
            }
            > img {
              width: 0.875rem;
              height: 0.875rem;
              @media screen and (min-width: 75rem) {
                position: relative;
                bottom: -195%;
                right: 10.625rem;
              }
              @media screen and (min-width: 160rem) {
                position: static;
              }
            }
          }
          h4 {
            font-size: 1rem;
            font-weight: 600;
            line-height: 1.5rem;
            color: $textPrimary;
            text-align: center;
          }
          p {
            font-size: 0.75rem;
            font-weight: 400;
            line-height: 1.25rem;
            color: $progressParaColor;
            text-align: center;
            max-width: 13.1875rem;
            margin-bottom: 0.8125rem;
          }
          .social-links {
            @media screen and (min-width: 160rem) {
              display: flex;
              align-items: center;
              gap: 0.8125rem;
            }
            .btn {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 0.5rem;
              width: 8.4375rem;
              height: 2.25rem;
              border: 1px solid $colorCommonTertiary;
              border-radius: 0.25rem;
              font-size: 0.75rem;
              font-weight: 400;
              color: $colorPrimary;
              background-color: transparent;
              outline: none;
              cursor: pointer;
              @media screen and (min-width: 75rem) {
                margin-left: 0.625rem;
                height: 1.875rem;
              }
            }
            ul {
              display: flex;
              gap: 0.1875rem;
              margin: 0.8125rem 0 1.3125rem;
              @media screen and (min-width: 75rem) {
                margin-left: 0.4375rem;
              }
              @media screen and (min-width: 160rem) {
                margin: 0;
              }
              li {
                list-style: none;
                border-radius: 50%;
                @media screen and (min-width: 160rem) {
                  &:first-child {
                    display: none;
                  }
                }
                button {
                  width: 1.9375rem;
                  height: 1.9375rem;
                  padding: 0.4063rem;
                  border: none;
                  background-color: transparent;
                  outline: none;
                  img {
                    color: $colorCommonPrimary;
                    width: 1.125rem;
                    height: 1.125rem;
                  }
                }
                &:first-child,
                &:hover {
                  background-color: $bgPrimaryColor;
                  svg {
                    color: $colorCommonTertiary;
                  }
                }
              }
            }
          }
          .profile-change {
            display: none;
            @media screen and (min-width: 75rem) {
              display: flex;
              align-items: center;
              gap: 0.5rem;
              font-size: 0.75rem;
              font-weight: 400;
              color: $colorSecondary;
            }
            @media screen and (min-width: 87.5rem) {
              display: none;
            }
          }
          .work-detail-listing {
            display: flex;
            gap: 1rem;
            @media screen and (min-width: 160rem) {
              display: none;
            }
            .work-detail {
              display: flex;
              align-items: center;
              gap: 0.5rem;
              img {
                width: 1rem;
                height: 1rem;
              }
            }
          }
        }
        .activity {
          display: none;
          @media screen and (min-width: 160rem) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 0.9375rem;
            margin: 0 1.875rem;
            h4 {
              font-size: 0.875rem;
              font-weight: 600;
              line-height: 1.375rem;
              margin-bottom: 0.9375rem;
              color: $textSecondary;
            }
            li {
              display: flex;
              align-items: center;
              gap: 0.5rem;
              list-style: none;
              span {
                font-size: 0.75rem;
                font-weight: 500;
                line-height: 1.5rem;
                letter-spacing: -0.01em;
                color: $activityListingColor;
                border-bottom: 1px solid $activityListingColor;
              }
            }
          }
        }
        .candidate-professional-detail {
          flex: 1;
          padding-left: 1rem;
          @media screen and (min-width: 160rem) {
            padding: 0 3.4375rem 0 2.875rem;
          }
          .skill-set {
            display: flex;
            align-items: center;
            gap: 0.625rem;
            margin-bottom: 0.8125rem;
            span {
              font-size: 14px;
              font-weight: 600;
              color: $textSecondary;
            }
            ul {
              display: flex;
              gap: 0.625rem;
              margin: 0;
              margin: 0;
              li {
                list-style: none;
                padding: 0.0625rem 0.5rem;
                font-size: 0.75rem;
                font-weight: 400;
                color: $colorPrimary;
                border-radius: 0.125rem;
                border: 1px solid $borderPrimaryColor;
                display: none;
                &:first-child,
                &:nth-child(2),
                &:nth-child(3),
                &:last-child {
                  display: block;
                }
                @media screen and (min-width: 64rem) {
                  &:nth-child(3) {
                    display: none;
                  }
                }
                @media screen and (min-width: 75rem) {
                  &:nth-child(3) {
                    display: block;
                  }
                }
                @media screen and (min-width: 160rem) {
                  &:nth-child(n) {
                    display: block;
                  }
                }
                svg {
                  position: relative;
                  top: 0.125rem;
                  color: $colorCommonPrimary;
                  margin-left: 0.25rem;
                }
                &:last-child {
                  color: $colorSecondary;
                  background-color: $tabColor;
                  border: 1px solid $colorTertiary;
                  @media screen and (min-width: 2560px) {
                    border: none;
                    color: $colorPrimary;
                    background-color: transparent;
                    position: relative;
                    padding: 0;
                    &:after {
                      position: absolute;
                      content: "";
                      background-color: $colorPrimary;
                      width: 72px;
                      height: 1px;
                      left: 0;
                      bottom: 0;
                    }
                  }
                  span {
                    display: none;
                    @media screen and (min-width: 2560px) {
                      display: inline;
                      font-size: 12px;
                      color: $colorPrimary;
                    }
                  }
                  svg {
                    color: $colorPrimary;
                  }
                }
                &:hover {
                  color: $colorSecondary;
                  background-color: $tabColor;
                  border: 1px solid $colorTertiary;
                }
              }
            }
          }
          .skill-detail-listing {
            display: flex;
            flex-direction: column;
            gap: 1.25rem;
            @media screen and (min-width: 160rem) {
              flex-direction: row;
              justify-content: space-between;
            }
            .skill-detail {
              padding-left: 1.5rem;
              position: relative;
              &:last-child {
                display: none;
                @media screen and (min-width: 160rem) {
                  display: block;
                }
              }
              h4 {
                font-size: 0.875rem;
                font-weight: 600;
                line-height: 1.375rem;
                color: $textSecondary;
                margin-bottom: 0.3125rem;
              }
              .renewed-date {
                display: none;
                @media screen and (min-width: 75rem) {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 7rem;
                  height: 1.25rem;
                  border: 1px solid $renewedBorderColor;
                  border-radius: 0.25rem;
                  font-size: 0.625rem;
                  color: $renewedTextColor;
                  position: absolute;
                  top: 0;
                  left: 6.3125rem;
                }
                @media screen and (min-width: 87.5rem) {
                  display: none;
                }
              }
              .experience-span {
                font-size: 0.75rem;
                font-weight: 600;
                line-height: 1.25rem;
                color: $colorCommonSeconday;
                padding-left: 0.625rem;
                background-color: $bgPrimaryColor;
                max-width: 12.5625rem;
                box-shadow: -2px 0 0 0 $boxShadowPrimary;
                @media screen and (min-width: 75rem) {
                  width: 100%;
                }
                span {
                  color: $universalBlack;
                }
              }
              .renewed-element {
                @media screen and (min-width: 75rem) {
                  background-color: $renewedBgColor;
                  box-shadow: -2px 0 0 0 $renewedDropShadowColor;
                }
                @media screen and (min-width: 87.5rem) {
                  background-color: $bgPrimaryColor;
                  box-shadow: -2px 0 0 0 $boxShadowPrimary;
                }
              }
              .rank {
                font-size: 0.75rem;
                font-weight: 400;
                line-height: 1.25rem;
                color: $universalBlack;
                margin-bottom: 0.3125rem;
                width: 23.25rem;
                @media screen and (min-width: 75rem) {
                  width: 100%;
                }
                span {
                  &:first-child {
                    color: $colorPrimary;
                  }
                  &:last-child {
                    font-weight: 600;
                  }
                }
              }
              .role {
                display: flex;
                align-items: center;
                gap: 0.625rem;
                padding: 0 0.875rem 0 0.5rem;
                border-left: 2px solid $colorPrimary;
                margin-bottom: 0.3125rem;
                p {
                  font-size: 0.75rem;
                  font-weight: 400;
                  line-height: 1.25rem;
                  color: $textTertiary;
                  margin: 0;
                }
                img {
                  width: 0.875rem;
                  height: 0.875rem;
                }
              }
              .university {
                margin-bottom: 0.625rem;
                p {
                  font-size: 0.75rem;
                  font-weight: 600;
                  line-height: 1.25rem;
                  color: $universalBlack;
                  margin: 0;
                  width: 23.4375rem;
                  @media screen and (min-width: 75rem) {
                    width: 100%;
                  }
                  @media screen and (min-width: 160rem) {
                    max-width: 27.5625rem;
                  }
                  span {
                    font-weight: 400;
                    color: $colorCommonSeconday;
                  }
                }
                .renewed-education {
                  @media screen and (min-width: 75rem) {
                    width: 27.5625rem;
                    padding-left: 0.5rem;
                    background-color: $renewedBgColor;
                    border-left: 2px solid $renewedDropShadowColor;
                  }
                  @media screen and (min-width: 87.5rem) {
                    width: 100%;
                    padding-left: 0;
                    background-color: transparent;
                    border-left: none;
                  }
                }
              }
              .assets {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.25rem;
                background-color: $assetBgColor;
                width: max-content;
                padding: 0 1rem;
                height: 1.4375rem;
                font-size: 0.75rem;
                font-weight: 500;
                color: $colorPrimary;
                position: relative;
                z-index: 2;
                img {
                  width: 0.875rem;
                  height: 0.875rem;
                }
              }
              &:after {
                position: absolute;
                content: "";
                width: 0.5rem;
                height: 0.5rem;
                border-radius: 50%;
                background-color: $colorPrimary;
                top: 0.4375rem;
                left: 0;
              }
              &:before {
                position: absolute;
                content: "";
                width: 24.625rem;
                height: 0.125remx;
                border: 1px dashed rgb(145, 213, 255);
                bottom: 0.6875rem;
                left: 0;
              }
            }
          }
        }
      }
    }
  }
}
