@import "./import";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: $bodyBgColor !important;
  font-family: "Roboto", "sans-serif";
}
main {
  display: flex !important;
  aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 16px;
    background-color: $universalWhite;
    flex: 0 0 64px;
    height: 100vh;
    img {
      width: 100%;
      height: 100%;
    }
    .logo {
      width: 56px;
      height: 56px;
      margin: 4px 0 93px;
    }
    .avatar {
      width: 32px;
      height: 32px;
      margin-bottom: 93px;
    }
    .message {
      position: relative;
      width: 64px;
      height: 40px;
      margin-bottom: 50px;
      .message-number {
        display: flex;
        position: absolute;
        top: 7px;
        right: 17px;
        width: 16px;
        height: 16px;
      }
    }
    .tabs {
      .tab-button-outer {
        #tab-button {
          margin-bottom: 59px;
          li {
            list-style: none;
            a {
              width: 64px;
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
              svg {
                color: #002766;
                display: flex;
                width: 16px;
                height: 16px;
              }
            }
          }
        }
        #tab-button li a:hover,
        #tab-button .is-active a {
          background-color: #e6f7ff;
          border-right: 2px solid #1890ff;
        }
        #tab-button .is-active a svg {
          color: #1890ff;
        }
      }
      .tab-contents {
        width: 256px;
        position: fixed;
        top: 16px;
        left: 64px;
        background-color: $universalWhite;
        border-radius: 8px;
        height: 100vh;
        display: none;
        .selection-bar {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 35px;
          white-space: nowrap;
          padding: 10px 0;
          background-color: #e6f7ff;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          .selection {
            font-size: 14px;
            font-weight: 600;
            line-height: 22px;
            color: #002766;
            display: flex;
            align-items: center;
            gap: 0.625rem;
            img {
              width: 16px;
              height: 16px;
            }
          }
          .clear {
            display: flex;
            align-items: center;
            gap: 2px;
            font-size: 12px;
            font-weight: 400;
            line-height: 20px;
            color: #1890ff;
            img {
              width: 12px;
              height: 12px;
            }
          }
        }
        .advance-seach {
          margin: 14px 0 18px 24px;
          span {
            font-size: 12px;
            font-weight: 400;
            line-height: 20px;
            color: #262626;
          }
          .search {
            width: 192px;
            height: 36px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            color: $universalWhite;
            border: none;
            background-color: #1890ff;
            margin-top: 4px;
            img {
              width: 16px;
              height: 16px;
            }
          }
        }
        .detail-listing {
          li {
            font-size: 12px;
            font-weight: 400;
            line-height: 20x;
            color: #262626;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 12px 16px;
            list-style: none;
            border-top: 2px solid #F5F5F5;
            &:last-child {
              border-bottom: 2px solid #F5F5F5;
            }
          }
          img {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
    .setting {
      width: 64px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .main-content {
    flex: 1;
    padding: 16px 16px 16px 0;
    .skill-type {
      padding: 24px;
      border-radius: 16px;
      background-color: $universalWhite;
      .result {
        display: flex;
        justify-content: space-between;
        h2 {
          font-size: 20px;
          font-weight: 600;
          line-height: 28px;
          color: #262626;
        }
        .breadcrumb {
          display: flex;
          align-items: center;
          margin: 0;
          padding: 0;
          background-color: transparent;
          gap: 22px;
          height: 22px;
          margin-bottom: 16px;
          li {
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            color: #8C8C8C;
            list-style: none;
            img {
              width: 16px;
              height: 16px;
              display: flex;
            }
            &:last-child {
              color: #262626;
            }
            &:not(:last-child) {
              position: relative;
              &::after {
                position: absolute;
                content: "";
                background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.3662 6.04688L9.2168 16.8545H8.12988L12.2861 6.04688H13.3662Z' fill='%238C8C8C'/%3E%3C/svg%3E ");
                width: 22px;
                height: 22px;
                top: 50%;
                transform: translateY(-50%);
                right: -23px;
              }
            }
          }
        }
      }
      .detail {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
  