.body-wrapper {
	padding: 16px;
	background-color: $bgColor;
	height: 100vh;
	overflow-y: scroll;
	.step-two-hero {
		background-color: $universalWhite;
		background-image: url('assets/images/background.png');
		background-size: contain;
		background-repeat: no-repeat;
		height: calc(100vh - 32px);
	}
	.required-skills-description {
		gap: 31px;
		.skills-heading {
			margin-top: 3.75rem;
			h1 {
				max-width: 678px;
				color: $textColorPrimary;
			}
		}
		.skills-detail {
			h3 {
				max-width: 680px;
				color: $textColorPrimary;
				z-index: 99999;
				span {
					font-weight: 600;
					position: relative;
					z-index: 99999;
				}
			}
		}
	}
	.experience-section {
		margin-top: 41px;
		font-family: Roboto;
		font-size: 14px;
		font-style: normal;
		font-weight: 600;
		line-height: 22px;
		color: $textColorPrimary;
		.slider-wrapper {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin: 5.8125rem auto 0;

			.range-slider-items {
				display: flex;
				gap: 10px;
				li {
					display: flex;
					height: 80px;
					align-items: end;
					span {
						display: flex;
						height: 50px;
						background-color: #91d5ff;
						width: 30px;
						margin: 0;
					}
				}
				.h1 {
					height: 20px;
					background-color: #f0f0f0;
				}
				.h2 {
					height: 30px;
					background-color: #f0f0f0;
				}
				.h3 {
					background-color: #f0f0f0;
				}
				.h4 {
					height: 40px;
				}
				.h5 {
					height: 10px;
				}
				.h6 {
					height: 50px;
				}
				.h6 {
					height: 70px;
				}
				.h7 {
					height: 80px;
				}
				.h9 {
					height: 20px;
				}
				.h-10 {
					background-color: #f0f0f0;
					height: 40px;
				}
				.h-11 {
					background-color: #f0f0f0;
					height: 30px;
				}
				.h-12 {
					background-color: #f0f0f0;
					height: 10px;
				}
			}
		}
	}
	.skils-detail-section {
		position: relative;
		margin: 90px 96px 0;
		.search-fields-wrapper {
			justify-content: space-between;
			span {
				color: $textColorPrimary;
				font-size: 14px;
				font-weight: 600;
				line-height: 22px;
			}
			.input-wrapper {
				width: 855px;
				margin-top: 1rem;
				border: 1px solid $inputWrapperColor;
				box-shadow: 9px 9px 40px 0px rgba(54, 122, 184, 0.2);
				input {
					width: 800px;
				}
			}
			.options-list {
				z-index: 999999999;
				top: 108px;
				width: 790px;
				left: 45px;
			}
			.your-choice {
				width: 855px;
				display: flex;
				align-items: center;
				margin-top: 1.5rem;
				gap: 13px;
				span {
					font-size: 16px;
					font-weight: 400;
					line-height: 24px;
					margin-right: 13px;
				}
				.recent-search-list {
					flex-wrap: wrap;
					height: 182px;
					overflow-y: scroll;
					gap: 13px;
					&::-webkit-scrollbar {
						width: 4px;
					}
					&::-webkit-scrollbar-thumb {
						background-color: #69c0ff;
					}
					&::-webkit-scrollbar-track {
						background-color: $activeFieldColor;
						border-radius: 9px;
					}
					li {
						font-family: Roboto;
						font-size: 14px;
						font-weight: 400;
						line-height: 19px;
						gap: 0.8rem;
						border-radius: 55px;
						border: 1px solid $listBorderColor;
						padding: 4px 5px 4px 15px;
						color: $universalWhite;
						background-color: $listColor;
					}
				}
			}
		}
	}
	.buttons-section {
		left: 50%;
		right: 50%;
		padding: 200px 0 32px;
		gap: 15px;
		.previous-button {
			display: flex;
			align-items: center;
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			color: $listColor;
			border: 1px solid $listColor;
			background-color: transparent;
			width: 121px;
			border-radius: 4px;
			padding: 8px 16px;
			gap: 8px;
			white-space: nowrap;
		}
		.next-button {
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			color: $universalWhite;
			min-width: 125px;
			padding: 8px 16px;
			border-radius: 4px;
			background-color: #096dd9;
			border: transparent;
			white-space: nowrap;
		}
	}
	// @media screen and (max-width: 1920px) {
	// 	.skils-detail-section {
	// 		.search-fields-wrapper {
	// 			.input-wrapper {
	// 				width: 580px;
	// 				input {
	// 					width: 490px;
	// 				}
	// 			}
	// 			.options-list {
	// 				width: 490px;
	// 			}
	// 			.your-choice {
	// 				width: 580px;
	// 			}
	// 		}
	// 	}
	// }
	// @media screen and (max-width: 1440px) {
	// 	.skils-detail-section {
	// 		.search-fields-wrapper {
	// 			.input-wrapper {
	// 				width: 480px;
	// 				input {
	// 					width: 350px;
	// 				}
	// 			}
	// 			.options-list {
	// 				width: 420px;
	// 			}
	// 			.your-choice {
	// 				width: 480px;
	// 			}
	// 		}
	// 	}
	// }
	@media screen and (max-width: 1200px) {
		.required-skills-description {
			.skills-heading {
				margin-top: 1.9375rem;
				h1 {
					font-size: 2.25rem;
					max-width: 550px;
				}
			}
			.skills-detail {
				h3 {
					font-size: 1.25rem;
					max-width: 645px;
				}
			}
		}
		.experience-section {
			margin-top: 74px;
			.slider-wrapper {
				margin-top: 24px;
			}
		}
		.skils-detail-section {
			margin: 53px 40px 0;
			.search-fields-wrapper {
				.input-wrapper {
					width: 430px;
					height: 3.5rem;
					input {
						font-size: 14px;
						width: 390px;
					}
				}
				.options-list {
					top: 96px;
					width: 360px;
					left: 45px;
				}
				.your-choice {
					width: 430px;
				}
			}
		}
		.buttons-section {
			padding: 360px 0 32px;
		}
	}
	// @media screen and (max-width: 1024px) {
	// 	.required-skills-description {
	// 		.skills-heading {
	// 			margin-top: 2.6875rem;
	// 		}
	// 	}
	// 	.skils-detail-section {
	// 		margin: 53px 19px 0;
	// 		.search-fields-wrapper {
	// 			.input-wrapper {
	// 				width: 315px;
	// 				input {
	// 					font-size: 14px;
	// 					width: 290px;
	// 				}
	// 			}
	// 			.options-list {
	// 				top: 96px;
	// 				width: 260px;
	// 				left: 45px;
	// 			}
	// 			.your-choice {
	// 				display: none;
	// 			}
	// 		}
	// 	}
	// }
	// @media screen and (max-width: 768px) {
	// 	.required-skills-description {
	// 		.skills-heading {
	// 			margin-top: 3rem;
	// 			h1 {
	// 				max-width: 500px;
	// 			}
	// 		}
	// 		.skills-detail {
	// 			h3 {
	// 				max-width: 500px;
	// 			}
	// 		}
	// 	}
	// 	.skils-detail-section {
	// 		margin: 75px 26px 0;
	// 		.search-fields-wrapper {
	// 			span {
	// 				font-size: 12px;
	// 				line-height: 20px;
	// 			}
	// 			.input-wrapper {
	// 				width: 280px;
	// 			}
	// 			.options-list {
	// 				top: 95px;
	// 				width: 220px;
	// 				left: 45px;
	// 			}
	// 			.your-choice {
	// 				display: none;
	// 			}
	// 		}
	// 	}
	// }
}
