.step-five-hero {
	background-color: #fff;
	position: relative;
	height: 100vh;
	.overlay {
		background-color: #f5fcff;
		top: 0;
		height: 100%;
		position: absolute;
		right: 0;
		width: 50%;
	}
	.headings-section {
		margin-top: 2.875rem;
		.heading {
			h1 {
				font-size: 36px;
				line-height: 42px;
				max-width: 700px;
				z-index: 9999;
				color: $textColorPrimary;
			}
		}
		.sub-heading {
			margin-top: 51px;
			h3 {
				max-width: 780px;
				color: $textColorPrimary;
				z-index: 99999;
				span {
					font-weight: 600;
					position: relative;
					z-index: 99999;
				}
			}
		}
	}
	.selected_items {
		width: 458px;
		display: flex;
		align-items: center;
		margin-top: 1.5rem;
		gap: 13px;
		span {
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			margin-right: 13px;
		}
		.recent-search-list {
			flex-wrap: wrap;
			gap: 13px;
			li {
				font-family: Roboto;
				font-size: 14px;
				font-weight: 400;
				line-height: 19px;
				gap: 0.8rem;
				border-radius: 55px;
				border: 1px solid $listBorderColor;
				padding: 4px 5px 4px 15px;
				color: $universalWhite;
				background-color: $listColor;
			}
		}
	}
	.buttons-wrapper {
		padding: 281px 0 32px;
		gap: 15px;
		.previous-button {
			display: flex;
			align-items: center;
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			color: $listColor;
			border: 1px solid $listColor;
			background-color: transparent;
			width: 121px;
			border-radius: 4px;
			padding: 8px 16px;
			gap: 8px;
			white-space: nowrap;
		}
		.next-button {
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			color: $universalWhite;
			min-width: 125px;
			padding: 8px 16px;
			border-radius: 4px;
			background-color: #096dd9;
			border: transparent;
			white-space: nowrap;
		}
	}
	.required-skills-description {
		.skills-heading {
			margin-top: 1.9375rem;
			h1 {
				font-size: 2.25rem;
				max-width: 550px;
			}
		}
		.skills-detail {
			h3 {
				font-size: 1.25rem;
				max-width: 645px;
			}
		}
	}
	.experience-section {
		margin-top: 74px;
		.slider-wrapper {
			margin-top: 24px;
		}
	}
	.skils-detail-section {
		z-index: 99999999;
		margin: 53px 40px 0;
		.search-fields-wrapper {
			.input-wrapper {
				width: 430px;
				height: 3.5rem;
				input {
					font-size: 14px;
					width: 390px;
				}
			}
			.options-list {
				top: 96px;
				width: 360px;
				left: 45px;
			}
			.your-choice {
				width: 430px;
			}
		}
	}
	.search-fields-wrapper {
		.search-container {
			display: flex;
			flex-direction: column;
			gap: 27px;
			.check-box {
				margin-top: 1rem;
				label {
					color: #262626;
					font-family: Roboto;
					font-size: 12px;
					font-style: normal;
					font-weight: 400;
					line-height: 20px;
					padding: 0 8px;
				}
				input {
					width: unset;
					height: 20px;
				}
			}
			.tree-selector {
				.input-wrapper {
					position: relative;
					&::after {
						position: absolute;
						background-image: url('assets/svgs/dropDown.svg');
						background-size: contain;
						background-repeat: no-repeat;
						height: 8px;
						width: 11px;
						content: '';
						right: 24px;
						top: 28px;
					}
				}
			}
			.your-choice {
				.recent-search-list {
					width: 100%;
					li {
						height: 34px;
					}
				}
				.recent-search-list::-webkit-scrollbar {
					display: none;
				}
			}
		}
	}
	@media screen and (max-width: 2560px) {
		.skils-detail-section {
			margin: 138px 40px 0;
			.search-fields-wrapper {
				.search-container {
					max-width: 900px;
				}
				.input-wrapper {
					width: 853px;
					background-color: #ffffff;
					input {
						width: 800px;
						background-color: #ffffff;
					}
				}
				.options-list {
					top: 96px;
					width: 790px;
					left: 45px;
				}
				.your-choice {
					width: 430px;
				}
			}
		}
	}
	@media screen and (max-width: 1920px) {
		.skils-detail-section {
			margin: 138px 40px 0;
			.search-fields-wrapper {
				.search-container {
					max-width: 700px;
				}
				.input-wrapper {
					width: 630px;
					input {
						width: 580px;
					}
				}
				.options-list {
					top: 96px;
					width: 560px;
				}
			}
		}
	}
	@media screen and (max-width: 1920px) {
		.skils-detail-section {
			.search-fields-wrapper {
				.search-container {
					max-width: 550px;
				}
				.input-wrapper {
					width: 440px;
					background-color: #ffffff;
					input {
						width: 430px;
						background-color: #ffffff;
					}
				}
				.options-list {
					top: 96px;
					width: 380px;
				}
			}
		}
	}
	@media screen and (max-width: 1200px) {
		.headings-section {
			.sub-heading {
				h3 {
					font-size: 20px;
					max-width: 658px;
				}
			}
		}
	}
	@media screen and (max-width: 1024px) {
		.skils-detail-section {
			margin: 138px 40px 0;
			.search-fields-wrapper {
				.search-container {
					max-width: 330px;
					.section-right {
						margin-top: 25px;
					}
				}
				.input-wrapper {
					width: 300px;
					input {
						width: 240px;
					}
				}
				.options-list {
					top: 123px;
					width: 260px;
					left: 45px;
				}
			}
		}
	}
	@media screen and (max-width: 768px) {
		.headings-section {
			.heading {
				h1 {
					font-size: 32px;
				}
			}
			.sub-heading {
				margin-top: 31px;
				h3 {
					font-size: 20px;
				}
			}
		}
		.skils-detail-section {
			margin: 138px 16px 0;
			.search-fields-wrapper {
				.search-container {
					max-width: 300px;
				}
				.input-wrapper {
					width: 18.375rem;
					input {
						font-size: 12px;
						width: 280px;
					}
				}
				.options-list {
					width: 360px;
				}
			}
		}
	}
}
