.selected_items {
	width: 458px;
	display: flex;
	align-items: center;
	margin-top: 1.5rem;
	gap: 13px;
	span {
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		margin-right: 13px;
	}
	.recent-search-list {
		flex-wrap: wrap;
		gap: 13px;
		li {
			font-family: Roboto;
			font-size: 14px;
			font-weight: 400;
			line-height: 19px;
			gap: 0.8rem;
			border-radius: 55px;
			border: 1px solid $listBorderColor;
			padding: 4px 5px 4px 15px;
			color: $universalWhite;
			background-color: $listColor;
		}
	}
}
.buttons-wrapper {
	padding: 281px 0 32px;
	gap: 15px;
	.previous-button {
		display: flex;
		align-items: center;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		color: $listColor;
		border: 1px solid $listColor;
		background-color: transparent;
		width: 121px;
		border-radius: 4px;
		padding: 8px 16px;
		gap: 8px;
		white-space: nowrap;
	}
	.next-button {
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		color: $universalWhite;
		min-width: 125px;
		padding: 8px 16px;
		border-radius: 4px;
		background-color: #096dd9;
		border: transparent;
		white-space: nowrap;
	}
}
